.female15-icon2 {
  position: relative;
  border-radius: 64px;
  width: 84px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.text17 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.female15-container {
  position: absolute;
  top: 60px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.dashboard-icon-child5,
.dashboard-icon-child6,
.dashboard-icon-child7,
.dashboard-icon-child8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #fff;
  border: 2px solid #271e4a;
  box-sizing: border-box;
  width: 15.27px;
  height: 15.27px;
}
.dashboard-icon-child6,
.dashboard-icon-child7,
.dashboard-icon-child8 {
  top: 20.73px;
}
.dashboard-icon-child7,
.dashboard-icon-child8 {
  top: 0;
  left: 20.73px;
}
.dashboard-icon-child8 {
  top: 20.73px;
  border-radius: 50%;
  background-color: #ffdbd9;
}
.dashboard-icon2 {
  position: relative;
  width: 36px;
  height: 36px;
}
.text18 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: none;
}
.dashboard-icon-container,
.vuesaxlinearinfo-circle-parent1 {
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.vuesaxlinearinfo-circle-parent1 {
  background-color: #fff;
}
.frame-parent119 {
  position: absolute;
  top: 240px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.frame-parent118 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 216px;
}
.vuesaxlineararrow-right-icon6 {
  position: relative;
  width: 24px;
  height: 24px;
}
.vuesaxlineararrow-right-wrapper1 {
  position: absolute;
  top: calc(50% - 364px);
  left: 196px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent117 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 236px;
}
.iconoutlinedapplicationbell3 {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedapplicationbell-wrapper1 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.thng-tin-cc-trng-i-hc-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.id-user2,
.tn-ngi-ng2 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 60px;
  flex-shrink: 0;
  opacity: 0.9;
}
.tn-ngi-ng2 {
  width: 204px;
}
.id-user-container {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 88px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 64px;
}
.hnh-ng2,
.tn-trng-i2,
.trng-thi2 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 340px;
  flex-shrink: 0;
  opacity: 0.9;
}
.hnh-ng2,
.trng-thi2 {
  text-align: center;
  width: 200px;
}
.hnh-ng2 {
  width: 136px;
}
.frame-parent124 {
  align-self: stretch;
  border-radius: 4px;
  background-color: #edf4fc;
  height: 44px;
  display: flex;
  flex-direction: row;
  padding: 12px 48px 12px 16px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
}
.hng-c-chn2 {
  position: relative;
  font-weight: 300;
}
.iconoutlinedsuggestedplus2 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.hng-c-chn-container,
.thm-trng-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.thm-trng-container {
  border-radius: 8px;
  height: 36px;
  padding: 8px 14px;
  box-sizing: border-box;
  justify-content: center;
  gap: 4px;
  text-align: center;
  font-size: 14px;
  color: #ca79c6;
}
.hng-c-chn-container {
  align-self: stretch;
  padding: 0 48px 0 0;
  justify-content: space-between;
}
.checkmark-square-icon18 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.div18 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 60px;
  flex-shrink: 0;
}
.frame-child79 {
  position: relative;
  border-radius: 8px;
  width: 66px;
  height: 66px;
  object-fit: cover;
}
.nguyn-vn-a18 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 160px;
  flex-shrink: 0;
}
.checkmark-square-parent16,
.rectangle-parent45 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.checkmark-square-parent16 {
  gap: 64px;
}
.i-hc-bch3 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 280px;
  flex-shrink: 0;
}
.rectangle-parent46 {
  width: 340px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.hon-thnh14 {
  position: relative;
  font-weight: 300;
  color: #2eb553;
  text-align: center;
  display: inline-block;
  width: 200px;
  flex-shrink: 0;
  opacity: 0.9;
}
.iconoutlinededitordelete18 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinededitordelete-wrapper16 {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent127,
.frame-wrapper20 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-wrapper20 {
  width: 136px;
  justify-content: center;
}
.frame-parent127 {
  align-self: stretch;
  border-bottom: 1px solid #e0e9f4;
  padding: 12px 48px 12px 16px;
  justify-content: space-between;
}
.cha-hon-thnh4 {
  position: relative;
  font-weight: 300;
  color: #fa8c16;
  text-align: center;
  display: inline-block;
  width: 200px;
  flex-shrink: 0;
  opacity: 0.9;
}
.frame-parent126 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  color: #3f779b;
}
.frame-parent125 {
  font-size: 16px;
  color: rgba(39, 30, 74, 0.8);
}
.frame-parent123,
.frame-parent125 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.vuesaxlineararrow-left-icon3 {
  position: relative;
  width: 16px;
  height: 16px;
}
.vuesaxlineararrow-left-parent1 {
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  color: #b8b8b8;
}
.trang-1-trn3 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 150px;
  flex-shrink: 0;
  opacity: 0.9;
}
.frame-parent136,
.tip-tc-parent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tip-tc-parent1 {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 8px;
  justify-content: flex-start;
  gap: 4px;
}
.frame-parent136 {
  align-self: stretch;
  padding: 0 48px;
  justify-content: space-between;
  text-align: center;
}
.frame-parent121,
.frame-parent122 {
  align-self: stretch;
  flex-direction: column;
}
.frame-parent122 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  padding: 28px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;
  font-size: 14px;
}
.frame-parent121 {
  align-items: flex-start;
  gap: 24px;
}
.frame-parent120,
.frame-parent121,
.xc-nhn-frame {
  display: flex;
  justify-content: flex-start;
}
.xc-nhn-frame {
  border-radius: 8px;
  background-color: #ca79c6;
  box-shadow: 0 4px 15px #ecb4e9;
  height: 36px;
  flex-direction: row;
  padding: 8px 40px;
  box-sizing: border-box;
  align-items: flex-start;
  font-size: 14px;
  color: #fff;
}
.frame-parent120 {
  position: absolute;
  top: 40px;
  left: 260px;
  width: 1500px;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
  font-size: 42px;
  color: #271e4a;
  font-family: Kanit;
}
.group-parent1 {
  position: absolute;
  top: calc(50% - 486px);
  left: calc(50% - 900px);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 1800px;
  height: 972px;
  overflow: hidden;
}
.thng-tin-tuyn-sinh-thm-tr-child {
  position: absolute;
  top: calc(50% - 540px);
  left: calc(50% - 960px);
  background-color: rgba(212, 212, 212, 0.15);
  width: 1920px;
  height: 1080px;
}
.i-hc-ngoi4 {
  position: relative;
}
.frame-wrapper30,
.i-hc-ngoi-thng-c-s-h-n-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.i-hc-ngoi-thng-c-s-h-n-wrapper {
  flex: 1;
  align-items: flex-start;
}
.frame-wrapper30 {
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #b8b8b8;
  padding: 8px;
  align-items: center;
}
.image-25-icon6 {
  position: absolute;
  top: calc(50% - 43px);
  left: calc(50% - 166.5px);
  width: 333px;
  height: 86px;
  object-fit: cover;
}
.image-25-wrapper4 {
  align-self: stretch;
  position: relative;
  border-radius: 8px;
  height: 86px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(/public/frame-38090@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame-wrapper31 {
  align-self: stretch;
  flex-direction: column;
}
.frame-parent138,
.frame-wrapper29,
.frame-wrapper31 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent138 {
  flex-direction: column;
  gap: 16px;
}
.frame-wrapper29 {
  flex-direction: row;
}
.hu-b {
  position: relative;
  font-weight: 500;
}
.hu-b-wrapper {
  border-radius: 8px;
  border: 1.5px solid #ca79c6;
  padding: 4px 16px;
  align-items: flex-start;
}
.frame-parent137,
.frame-parent139,
.hu-b-wrapper,
.to-mi-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.to-mi-wrapper {
  border-radius: 8px;
  background-color: #ca79c6;
  box-shadow: 0 4px 15px #ecb4e9;
  padding: 4px 16px;
  align-items: flex-start;
  color: #fff;
}
.frame-parent137,
.frame-parent139 {
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #ca79c6;
  font-family: Kanit;
}
.frame-parent137 {
  position: absolute;
  top: calc(50% - 119px);
  left: calc(50% - 198px);
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  flex-direction: column;
  padding: 24px 32px;
  align-items: flex-end;
  gap: 24px;
  font-size: 16px;
  color: #271e4a;
  font-family: Roboto;
}
.thng-tin-tuyn-sinh-thm-tr {
  position: relative;
  background: linear-gradient(
    118.7deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 28.35%,
    #e6e4ea 58.79%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #1c1c1c;
  font-family: Inter;
}
