.thng-tin-cc8 {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.chnh-sa6 {
  position: relative;
  font-size: 24px;
  color: #b8b8b8;
}
.vuesaxlinearsearch-normal-icon3 {
  position: relative;
  width: 24px;
  height: 24px;
}
.tm-kim3 {
  flex: 1;
  position: relative;
  font-weight: 300;
}
.vuesaxlinearsearch-normal-parent1 {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1420px;
  display: flex;
  flex-direction: row;
  padding: 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  font-size: 24px;
  color: #b8b8b8;
}
.image-25-icon9 {
  position: absolute;
  top: calc(50% - 83px);
  left: calc(50% - 83px);
  width: 166px;
  height: 166px;
  object-fit: cover;
}
.image-25-wrapper7 {
  position: relative;
  border-radius: 24px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 166px;
  height: 166px;
  overflow: hidden;
  flex-shrink: 0;
}
.i-hc-ngoi13,
.thng-mi-hai4 {
  position: relative;
}
.thng-mi-hai4 {
  font-weight: 300;
}
.by-parent6,
.vuesaxlineartimer-parent6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.by-parent6 {
  align-items: flex-start;
}
.frame-parent260 {
  flex-direction: row;
  gap: 16px;
  font-size: 16px;
}
.frame-parent259,
.frame-parent260,
.i-hc-ngoi-thng-c-s-h-n-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.i-hc-ngoi-thng-c-s-h-n-parent1 {
  flex: 1;
  flex-direction: column;
  gap: 8px;
}
.frame-parent259 {
  width: 1420px;
  flex-direction: row;
  gap: 24px;
}
.tng-quan2 {
  position: relative;
  font-weight: 500;
}
.tng-quan-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.trng-i-hc2 {
  font-family: Kanit;
}
.tn-ting-anh2 {
  font-weight: 300;
}
.trng-i-hc-ngoi-thng-t2 {
  margin: 0;
}
.c-thnh-lp2 {
  margin: 0;
  font-weight: 300;
}
.s-mng-ca2,
.trng-i-hc-container2 {
  position: relative;
  font-size: 20px;
  display: inline-block;
  width: 1420px;
}
.s-mng-ca2 {
  font-weight: 300;
}
.s-mnh-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.n-nm-20304 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 1420px;
}
.n-nm-2030-trng-i-hc-ngo-container {
  gap: 16px;
  font-size: 20px;
}
.frame-parent257,
.n-nm-2030-trng-i-hc-ngo-container,
.trng-i-hc-ngoi-thng-t-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.trng-i-hc-ngoi-thng-t-container {
  gap: 24px;
  font-size: 32px;
}
.frame-parent257 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1500px;
  padding: 40px;
  box-sizing: border-box;
  gap: 40px;
}
.c-s-vt-cht-container {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.c-s-vt-cht-container,
.frame-wrapper64,
.o-to-container {
  display: flex;
  justify-content: flex-start;
}
.frame-wrapper64 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1500px;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
  align-items: flex-start;
}
.o-to-container {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.nhm-ngnh-ngn3 {
  flex: 1;
  position: relative;
}
.iconoutlinedsuggestedplus15 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedsuggestedplus-parent8 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: #7b61ff;
}
.nhm-ngnh-ngn-ng-vn-ho-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.khi-thi8,
.m-ngnh8,
.tn-ngnh8 {
  position: relative;
  display: inline-block;
  width: 240px;
  flex-shrink: 0;
}
.khi-thi8,
.tn-ngnh8 {
  width: 400px;
}
.khi-thi8 {
  width: 300px;
}
.m-ngnh-parent6 {
  align-self: stretch;
  background-color: #edf4fc;
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: flex-start;
  justify-content: space-between;
}
.d014,
.ngn-ng-anh3,
.nth042 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 240px;
  flex-shrink: 0;
}
.d014,
.ngn-ng-anh3 {
  width: 400px;
}
.d014 {
  width: 300px;
}
.nth04-container {
  width: 1420px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-parent267 {
  display: flex;
  flex-direction: column;
  padding: 0 4px;
  justify-content: flex-start;
}
.frame-parent265,
.frame-parent267 {
  align-items: flex-start;
  gap: 16px;
}
.frame-parent264,
.frame-parent265,
.frame-wrapper65 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-wrapper65 {
  padding: 0 4px;
  align-items: flex-start;
}
.frame-parent264 {
  align-items: center;
  gap: 24px;
  font-size: 20px;
}
.iconoutlinedsuggestedplus19 {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedsuggestedplus-parent12 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #7b61ff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: none;
  flex-direction: row;
  padding: 16px 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 24px;
  color: #fff;
}
.hu-b-wrapper1 {
  border-radius: 8px;
  border: 1.5px solid #ca79c6;
  display: flex;
  padding: 8px 40px;
  align-items: flex-start;
}
.frame-parent275,
.hu-b-wrapper1,
.xc-nhn-wrapper5 {
  flex-direction: row;
  justify-content: flex-start;
}
.xc-nhn-wrapper5 {
  border-radius: 8px;
  background-color: #ca79c6;
  box-shadow: 0 4px 15px #ecb4e9;
  display: flex;
  padding: 8px 40px;
  align-items: flex-start;
  color: #fff;
}
.frame-parent275 {
  display: none;
  align-items: center;
  gap: 24px;
  font-size: 14px;
  color: #ca79c6;
}
.frame-parent256,
.frame-parent263 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}
.frame-parent263 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1500px;
  padding: 40px;
  box-sizing: border-box;
  align-items: flex-end;
}
.frame-parent256 {
  position: absolute;
  top: 127px;
  left: 260px;
  align-items: center;
}
.thng-bo4 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.title3,
.tt-c-wrapper1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.title3 {
  align-self: stretch;
  height: 28px;
  padding: 0 0 0 4px;
  justify-content: flex-start;
  z-index: 0;
}
.tt-c-wrapper1 {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 82px;
  padding: 4px 16px;
  justify-content: center;
}
.cha-c-wrapper1,
.frame-parent276 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.cha-c-wrapper1 {
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 4px 16px;
  align-items: center;
  color: #b8b8b8;
}
.frame-parent276 {
  align-items: flex-start;
  gap: 8px;
  z-index: 1;
  font-size: 12px;
  color: #271e4a;
}
.frame-child173 {
  position: relative;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.byewind30,
.emailgmailcom3 {
  position: relative;
  line-height: 20px;
}
.emailgmailcom3 {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}
.rectangle-parent119 {
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.frame-child174 {
  position: relative;
  border-radius: 50%;
  background-color: #e3a3e0;
  width: 8px;
  height: 8px;
}
.frame-parent277 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.frame-child176 {
  position: relative;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.frame-parent278,
.frame-parent279,
.frame-parent280 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.frame-parent279,
.frame-parent280 {
  z-index: 4;
}
.frame-parent280 {
  z-index: 5;
}
.frame-parent281,
.frame-parent282,
.frame-parent283,
.frame-parent284,
.frame-parent285,
.frame-parent286 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 6;
}
.frame-parent282,
.frame-parent283,
.frame-parent284,
.frame-parent285,
.frame-parent286 {
  z-index: 7;
}
.frame-parent283,
.frame-parent284,
.frame-parent285,
.frame-parent286 {
  z-index: 8;
}
.frame-parent284,
.frame-parent285,
.frame-parent286 {
  z-index: 9;
}
.frame-parent285,
.frame-parent286 {
  z-index: 10;
}
.frame-parent286 {
  z-index: 11;
}
.dotsthreeoutlinevertical-s-icon3 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button3,
.notifications3 {
  position: absolute;
  border-radius: 8px;
  display: none;
  box-sizing: border-box;
}
.button3 {
  margin: 0 !important;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  flex-direction: row;
  padding: 4px;
  align-items: center;
  justify-content: center;
  z-index: 12;
}
.notifications3 {
  top: 108px;
  left: 1518px;
  background-color: rgba(255, 255, 255, 0.76);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  width: 240px;
  flex-direction: column;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  font-size: 14px;
  color: #1c1c1c;
}
.thng-tin-tuyn2 {
  position: relative;
  font-size: 42px;
  font-weight: 500;
}
.xt-tuyn-i-hc-wrapper1 {
  border-bottom: 2px solid #271e4a;
}
.nhm-tnh-cch-wrapper1,
.thng-tin-tuyn-sinh-container,
.xt-tuyn-i-hc-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.thng-tin-tuyn-sinh-container {
  align-items: flex-end;
  gap: 24px;
}
.iconoutlinedapplicationbell8 {
  position: relative;
  width: 36px;
  height: 36px;
}
.iconoutlinedapplicationbell-wrapper6 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent287 {
  width: 1498px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-wrapper67,
.frame-wrapper68 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper68 {
  align-self: stretch;
}
.frame-wrapper67 {
  position: absolute;
  top: 40px;
  left: 260px;
  width: 1500px;
  font-size: 32px;
}
.female15-icon7 {
  position: relative;
  border-radius: 64px;
  width: 84px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.female15-parent5 {
  position: absolute;
  top: 60px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.dashboard-icon-child25,
.dashboard-icon-child26,
.dashboard-icon-child27,
.dashboard-icon-child28 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #fff;
  border: 2px solid #271e4a;
  box-sizing: border-box;
  width: 15.27px;
  height: 15.27px;
}
.dashboard-icon-child26,
.dashboard-icon-child27,
.dashboard-icon-child28 {
  top: 20.73px;
}
.dashboard-icon-child27,
.dashboard-icon-child28 {
  top: 0;
  left: 20.73px;
}
.dashboard-icon-child28 {
  top: 20.73px;
  border-radius: 50%;
  background-color: #ffdbd9;
}
.dashboard-icon-parent5,
.vuesaxlinearinfo-circle-parent6 {
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.vuesaxlinearinfo-circle-parent6 {
  background-color: #fff;
}
.frame-parent290 {
  position: absolute;
  top: 240px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.frame-parent289 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 371px;
}
.vuesaxlineararrow-right-wrapper6 {
  position: absolute;
  top: calc(50% - 1695.5px);
  left: 388px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.frame-parent288 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 388px;
  font-size: 20px;
  color: #1c1c1c;
  font-family: Inter;
}
.frame-parent255 {
  position: absolute;
  height: calc(100% - 120px);
  top: 60px;
  bottom: 60px;
  left: calc(50% - 909px);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 1800px;
  overflow: hidden;
}
.thng-tin-tuyn-sinh-3 {
  position: relative;
  background: linear-gradient(
    118.7deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 28.35%,
    #e6e4ea 58.79%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 3847px;
  overflow: hidden;
  text-align: left;
  font-size: 36px;
  color: #271e4a;
  font-family: Kanit;
}
