.thng-tin-cc6 {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.chnh-sa {
  position: relative;
  font-size: 24px;
  color: #b8b8b8;
}
.thng-tin-cc-trng-i-hc-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
.vuesaxlinearsearch-normal-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
}
.tm-kim1 {
  flex: 1;
  position: relative;
  font-weight: 300;
}
.vuesaxlinearsearch-normal-group {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1420px;
  display: flex;
  flex-direction: row;
  padding: 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  font-size: 24px;
  color: #b8b8b8;
}
.image-25-icon7 {
  position: absolute;
  top: calc(50% - 83px);
  left: calc(50% - 83px);
  width: 166px;
  height: 166px;
  object-fit: cover;
}
.image-25-wrapper5 {
  position: relative;
  border-radius: 24px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 166px;
  height: 166px;
  overflow: hidden;
  flex-shrink: 0;
}
.thng-mi-hai2 {
  position: relative;
  font-weight: 300;
}
.by-parent4,
.vuesaxlineartimer-parent4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.by-parent4 {
  align-items: flex-start;
}
.frame-parent188 {
  flex-direction: row;
  gap: 16px;
  font-size: 16px;
}
.frame-parent187,
.frame-parent188,
.i-hc-ngoi-thng-c-s-h-n-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.i-hc-ngoi-thng-c-s-h-n-group {
  flex: 1;
  flex-direction: column;
  gap: 8px;
}
.frame-parent187 {
  width: 1420px;
  flex-direction: row;
  gap: 24px;
}
.tng-quan {
  position: relative;
  font-weight: 500;
}
.tng-quan-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.trng-i-hc {
  font-family: Kanit;
}
.tn-ting-anh {
  font-weight: 300;
}
.trng-i-hc-ngoi-thng-t {
  margin: 0;
}
.c-thnh-lp {
  margin: 0;
  font-weight: 300;
}
.s-mng-ca,
.trng-i-hc-container {
  position: relative;
  font-size: 20px;
  display: inline-block;
  width: 1420px;
}
.s-mng-ca {
  font-weight: 300;
}
.s-mnh-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.do-nng-lc {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 1420px;
}
.n-nm-2030-trng-i-hc-ngo-parent {
  gap: 16px;
  font-size: 20px;
}
.frame-parent185,
.n-nm-2030-trng-i-hc-ngo-parent,
.trng-i-hc-ngoi-thng-t-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.trng-i-hc-ngoi-thng-t-parent {
  gap: 24px;
  font-size: 32px;
}
.frame-parent185 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1500px;
  padding: 40px;
  box-sizing: border-box;
  gap: 40px;
}
.c-s-vt-cht-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frame-wrapper52 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1500px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconoutlinedsuggestedplus5 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedsuggestedplus-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: #7b61ff;
}
.nhm-ngnh-ngn-ng-vn-ho-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.khi-thi,
.m-ngnh,
.tn-ngnh {
  position: relative;
  display: inline-block;
  width: 240px;
  flex-shrink: 0;
}
.khi-thi,
.tn-ngnh {
  width: 400px;
}
.khi-thi {
  width: 300px;
}
.m-ngnh-parent {
  align-self: stretch;
  background-color: #edf4fc;
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: flex-start;
  justify-content: space-between;
}
.d01,
.nth04 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 240px;
  flex-shrink: 0;
}
.d01 {
  width: 300px;
}
.nth04-parent {
  width: 1420px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.ngn-ng-php {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 400px;
  flex-shrink: 0;
}
.frame-parent195 {
  padding: 0 4px;
}
.frame-parent193,
.frame-parent195 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.nhm-ngnh-lut {
  position: relative;
}
.frame-parent192,
.frame-wrapper53 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-wrapper53 {
  padding: 0 4px;
  align-items: flex-start;
}
.frame-parent192 {
  align-items: center;
  gap: 24px;
  font-size: 20px;
}
.iconoutlinedsuggestedplus9 {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedsuggestedplus-parent2 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #7b61ff;
  box-shadow: 0 4px 15px rgba(123, 97, 255, 0.64);
  display: flex;
  flex-direction: row;
  padding: 16px 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 24px;
  color: #fff;
}
.hu-b-container {
  border-radius: 8px;
  border: 1.5px solid #7b61ff;
  padding: 8px 40px;
  align-items: flex-start;
}
.frame-parent203,
.hu-b-container,
.xc-nhn-wrapper3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.xc-nhn-wrapper3 {
  border-radius: 8px;
  background-color: #7b61ff;
  box-shadow: 0 4px 15px #7b61ff;
  padding: 8px 40px;
  align-items: flex-start;
  color: #fff;
}
.frame-parent203 {
  align-items: center;
  gap: 24px;
  font-size: 14px;
  color: #7b61ff;
}
.frame-parent184,
.frame-parent191 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}
.frame-parent191 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1500px;
  padding: 40px;
  box-sizing: border-box;
  align-items: flex-end;
}
.frame-parent184 {
  position: absolute;
  top: 127px;
  left: 260px;
  align-items: center;
}
.thng-bo2 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.title1,
.tt-c-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.title1 {
  align-self: stretch;
  height: 28px;
  padding: 0 0 0 4px;
  justify-content: flex-start;
  z-index: 0;
}
.tt-c-container {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 82px;
  padding: 4px 16px;
  justify-content: center;
}
.cha-c-container,
.frame-parent204 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.cha-c-container {
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 4px 16px;
  align-items: center;
  color: #b8b8b8;
}
.frame-parent204 {
  align-items: flex-start;
  gap: 8px;
  z-index: 1;
  font-size: 12px;
  color: #271e4a;
}
.frame-child133 {
  position: relative;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.byewind10,
.emailgmailcom1 {
  position: relative;
  line-height: 20px;
}
.emailgmailcom1 {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}
.rectangle-parent99 {
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.frame-child134 {
  position: relative;
  border-radius: 50%;
  background-color: #e3a3e0;
  width: 8px;
  height: 8px;
}
.frame-parent205 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.frame-child136 {
  position: relative;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.frame-parent206,
.frame-parent207,
.frame-parent208 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.frame-parent207,
.frame-parent208 {
  z-index: 4;
}
.frame-parent208 {
  z-index: 5;
}
.frame-parent209,
.frame-parent210,
.frame-parent211,
.frame-parent212,
.frame-parent213,
.frame-parent214 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 6;
}
.frame-parent210,
.frame-parent211,
.frame-parent212,
.frame-parent213,
.frame-parent214 {
  z-index: 7;
}
.frame-parent211,
.frame-parent212,
.frame-parent213,
.frame-parent214 {
  z-index: 8;
}
.frame-parent212,
.frame-parent213,
.frame-parent214 {
  z-index: 9;
}
.frame-parent213,
.frame-parent214 {
  z-index: 10;
}
.frame-parent214 {
  z-index: 11;
}
.dotsthreeoutlinevertical-s-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button1,
.notifications1 {
  position: absolute;
  border-radius: 8px;
  display: none;
  box-sizing: border-box;
}
.button1 {
  margin: 0 !important;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  flex-direction: row;
  padding: 4px;
  align-items: center;
  justify-content: center;
  z-index: 12;
}
.notifications1 {
  top: 108px;
  left: 1518px;
  background-color: rgba(255, 255, 255, 0.76);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  width: 240px;
  flex-direction: column;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  font-size: 14px;
  color: #1c1c1c;
}
.thng-tin-tuyn {
  position: relative;
  font-size: 42px;
  font-weight: 500;
}
.xt-tuyn-i-hc-container {
  border-bottom: 2px solid #271e4a;
}
.nhm-tnh-cch-container,
.thng-tin-tuyn-sinh-parent,
.xt-tuyn-i-hc-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.thng-tin-tuyn-sinh-parent {
  align-items: flex-end;
  gap: 24px;
}
.iconoutlinedapplicationbell6 {
  position: relative;
  width: 36px;
  height: 36px;
}
.iconoutlinedapplicationbell-wrapper4 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent215,
.frame-wrapper55 {
  display: flex;
  align-items: flex-start;
}
.frame-parent215 {
  width: 1498px;
  flex-direction: row;
  justify-content: space-between;
}
.frame-wrapper55 {
  position: absolute;
  top: 40px;
  left: 260px;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 32px;
}
.female15-icon5 {
  position: relative;
  border-radius: 64px;
  width: 84px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.female15-parent3 {
  position: absolute;
  top: 60px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.dashboard-icon-child17,
.dashboard-icon-child18,
.dashboard-icon-child19,
.dashboard-icon-child20 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #fff;
  border: 2px solid #271e4a;
  box-sizing: border-box;
  width: 15.27px;
  height: 15.27px;
}
.dashboard-icon-child18,
.dashboard-icon-child19,
.dashboard-icon-child20 {
  top: 20.73px;
}
.dashboard-icon-child19,
.dashboard-icon-child20 {
  top: 0;
  left: 20.73px;
}
.dashboard-icon-child20 {
  top: 20.73px;
  border-radius: 50%;
  background-color: #ffdbd9;
}
.dashboard-icon-parent3,
.vuesaxlinearinfo-circle-parent4 {
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.vuesaxlinearinfo-circle-parent4 {
  background-color: #fff;
}
.frame-parent218 {
  position: absolute;
  top: 240px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.frame-parent217 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 371px;
}
.vuesaxlineararrow-right-wrapper4 {
  position: absolute;
  top: calc(50% - 1788px);
  left: 388px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.frame-parent216 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 388px;
  font-size: 20px;
  color: #1c1c1c;
  font-family: Inter;
}
.frame-parent183 {
  position: absolute;
  height: calc(100% - 120px);
  top: 60px;
  bottom: 60px;
  left: calc(50% - 909px);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 1800px;
  overflow: hidden;
}
.thng-tin-tuyn-sinh-chnh-sa {
  position: relative;
  background: linear-gradient(
    118.7deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 28.35%,
    #e6e4ea 58.79%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 4032px;
  overflow: hidden;
  text-align: left;
  font-size: 36px;
  color: #271e4a;
  font-family: Kanit;
}
