.female15-icon3 {
  position: relative;
  border-radius: 64px;
  width: 84px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.text23 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.female15-parent1 {
  position: absolute;
  top: 60px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.dashboard-icon-child10,
.dashboard-icon-child11,
.dashboard-icon-child12,
.dashboard-icon-child9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #fff;
  border: 2px solid #271e4a;
  box-sizing: border-box;
  width: 15.27px;
  height: 15.27px;
}
.dashboard-icon-child10,
.dashboard-icon-child11,
.dashboard-icon-child12 {
  top: 20.73px;
}
.dashboard-icon-child11,
.dashboard-icon-child12 {
  top: 0;
  left: 20.73px;
}
.dashboard-icon-child12 {
  top: 20.73px;
  border-radius: 50%;
  background-color: #ffdbd9;
}
.dashboard-icon3 {
  position: relative;
  width: 36px;
  height: 36px;
}
.text24 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: none;
}
.dashboard-icon-parent1,
.vuesaxlinearinfo-circle-parent2 {
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.vuesaxlinearinfo-circle-parent2 {
  background-color: #fff;
}
.frame-parent142 {
  position: absolute;
  top: 240px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.frame-parent141 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 216px;
}
.vuesaxlineararrow-right-icon8 {
  position: relative;
  width: 24px;
  height: 24px;
}
.vuesaxlineararrow-right-wrapper2 {
  position: absolute;
  top: calc(50% - 364px);
  left: 196px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent140 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 236px;
}
.iconoutlinedapplicationbell4 {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedapplicationbell-wrapper2 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.thng-tin-cc-trng-i-hc-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.id-user3,
.tn-ngi-ng3 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 60px;
  flex-shrink: 0;
  opacity: 0.9;
}
.tn-ngi-ng3 {
  width: 204px;
}
.id-user-parent1 {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 88px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 64px;
}
.hnh-ng3,
.tn-trng-i3,
.trng-thi3 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 340px;
  flex-shrink: 0;
  opacity: 0.9;
}
.hnh-ng3,
.trng-thi3 {
  text-align: center;
  width: 200px;
}
.hnh-ng3 {
  width: 136px;
}
.frame-parent147 {
  align-self: stretch;
  border-radius: 4px;
  background-color: #edf4fc;
  height: 44px;
  display: flex;
  flex-direction: row;
  padding: 12px 48px 12px 16px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
}
.hng-c-chn3 {
  position: relative;
  font-weight: 300;
}
.iconoutlinedsuggestedplus3 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.hng-c-chn-parent1,
.thm-trng-parent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.thm-trng-parent1 {
  border-radius: 8px;
  height: 36px;
  padding: 8px 14px;
  box-sizing: border-box;
  justify-content: center;
  gap: 4px;
  text-align: center;
  font-size: 14px;
  color: #ca79c6;
}
.hng-c-chn-parent1 {
  align-self: stretch;
  padding: 0 48px 0 0;
  justify-content: space-between;
}
.checkmark-square-icon27 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.div27 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 60px;
  flex-shrink: 0;
}
.frame-child97 {
  position: relative;
  border-radius: 8px;
  width: 66px;
  height: 66px;
  object-fit: cover;
}
.nguyn-vn-a27 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 160px;
  flex-shrink: 0;
}
.checkmark-square-parent25,
.rectangle-parent63 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.checkmark-square-parent25 {
  gap: 64px;
}
.i-hc-bch4 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 280px;
  flex-shrink: 0;
}
.rectangle-parent64 {
  width: 340px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.hon-thnh21 {
  position: relative;
  font-weight: 300;
  color: #2eb553;
  text-align: center;
  display: inline-block;
  width: 200px;
  flex-shrink: 0;
  opacity: 0.9;
}
.iconoutlinededitordelete27 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinededitordelete-wrapper25 {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent150,
.frame-wrapper32 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-wrapper32 {
  width: 136px;
  justify-content: center;
}
.frame-parent150 {
  align-self: stretch;
  border-bottom: 1px solid #e0e9f4;
  padding: 12px 48px 12px 16px;
  justify-content: space-between;
}
.cha-hon-thnh6 {
  position: relative;
  font-weight: 300;
  color: #fa8c16;
  text-align: center;
  display: inline-block;
  width: 200px;
  flex-shrink: 0;
  opacity: 0.9;
}
.frame-parent149 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  color: #3f779b;
}
.frame-parent148 {
  font-size: 16px;
  color: rgba(39, 30, 74, 0.8);
}
.frame-parent146,
.frame-parent148 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.vuesaxlineararrow-left-icon4 {
  position: relative;
  width: 16px;
  height: 16px;
}
.vuesaxlineararrow-left-parent2 {
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  color: #b8b8b8;
}
.trang-1-trn4 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 150px;
  flex-shrink: 0;
  opacity: 0.9;
}
.frame-parent159,
.tip-tc-parent2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tip-tc-parent2 {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 8px;
  justify-content: flex-start;
  gap: 4px;
}
.frame-parent159 {
  align-self: stretch;
  padding: 0 48px;
  justify-content: space-between;
  text-align: center;
}
.frame-parent144,
.frame-parent145 {
  align-self: stretch;
  flex-direction: column;
}
.frame-parent145 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  padding: 28px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;
  font-size: 14px;
}
.frame-parent144 {
  align-items: flex-start;
  gap: 24px;
}
.frame-parent143,
.frame-parent144,
.xc-nhn-wrapper1 {
  display: flex;
  justify-content: flex-start;
}
.xc-nhn-wrapper1 {
  border-radius: 8px;
  background-color: #ca79c6;
  box-shadow: 0 4px 15px #ecb4e9;
  height: 36px;
  flex-direction: row;
  padding: 8px 40px;
  box-sizing: border-box;
  align-items: flex-start;
  font-size: 14px;
  color: #fff;
}
.frame-parent143 {
  position: absolute;
  top: 40px;
  left: 260px;
  width: 1500px;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
  font-size: 42px;
  color: #271e4a;
  font-family: Kanit;
}
.group-parent2 {
  position: absolute;
  top: calc(50% - 486px);
  left: calc(50% - 900px);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 1800px;
  height: 972px;
  overflow: hidden;
}
.thng-tin-tuyn-sinh-xo-child {
  position: absolute;
  top: calc(50% - 540px);
  left: calc(50% - 960px);
  background-color: rgba(212, 212, 212, 0.15);
  width: 1920px;
  height: 1080px;
}
.vuesaxlineardanger-icon {
  position: relative;
  width: 48px;
  height: 48px;
}
.bn-c-chc {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: #555;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 311px;
}
.vuesaxlineardanger-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.xo {
  position: relative;
  font-weight: 500;
}
.xo-wrapper {
  border-radius: 24px;
  background-color: #ff2528;
  box-shadow: 0 4px 15px rgba(255, 163, 158, 0.64);
  width: 311px;
  display: flex;
  flex-direction: row;
  padding: 18px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.cancel {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.cancel-wrapper {
  border-radius: 10px;
  width: 311px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: #ff2528;
}
.frame-parent162 {
  gap: 16px;
  text-align: center;
  font-size: 15px;
  color: #fff;
}
.frame-parent161,
.frame-parent162,
.frame-wrapper41 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent161 {
  gap: 16px;
}
.frame-wrapper41 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 24px;
  background-color: #fff;
  padding: 24px 32px 34px;
}
.x-icon {
  position: absolute;
  top: 0;
  left: 325px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}
.frame-parent160 {
  position: absolute;
  top: calc(50% - 141px);
  left: calc(50% - 187px);
  border-radius: 24px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 375px;
  height: 282px;
  font-size: 18px;
  color: #ff2528;
  font-family: Kanit;
}
.thng-tin-tuyn-sinh-xo {
  position: relative;
  background: linear-gradient(
    118.7deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 28.35%,
    #e6e4ea 58.79%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #1c1c1c;
  font-family: Inter;
}
