.thng-bo8 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.title7 {
  align-self: stretch;
  height: 28px;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 4px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
}
.tt-c7 {
  position: relative;
  font-weight: 300;
}
.tt-c-wrapper5 {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 82px;
  display: flex;
  flex-direction: row;
  padding: 4px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.cha-c-wrapper5,
.frame-parent400 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.cha-c-wrapper5 {
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 4px 16px;
  align-items: center;
  color: #b8b8b8;
}
.frame-parent400 {
  align-items: flex-start;
  gap: 8px;
  z-index: 1;
  font-size: 12px;
  color: #271e4a;
}
.frame-child253 {
  position: relative;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.emailgmailcom7,
.ngi-dng-mi {
  position: relative;
  line-height: 20px;
}
.emailgmailcom7 {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}
.ngi-dng-mi-ng-k-parent,
.rectangle-parent159 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent159 {
  flex-direction: row;
  padding: 4px;
  gap: 8px;
}
.frame-child254 {
  position: relative;
  border-radius: 50%;
  background-color: #e3a3e0;
  width: 8px;
  height: 8px;
}
.frame-parent401 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.frame-child256 {
  position: relative;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.frame-parent402,
.frame-parent403,
.frame-parent404 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.frame-parent403,
.frame-parent404 {
  z-index: 4;
}
.frame-parent404 {
  z-index: 5;
}
.frame-parent405,
.frame-parent406,
.frame-parent407,
.frame-parent408,
.frame-parent409,
.frame-parent410 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 6;
}
.frame-parent406,
.frame-parent407,
.frame-parent408,
.frame-parent409,
.frame-parent410 {
  z-index: 7;
}
.frame-parent407,
.frame-parent408,
.frame-parent409,
.frame-parent410 {
  z-index: 8;
}
.frame-parent408,
.frame-parent409,
.frame-parent410 {
  z-index: 9;
}
.frame-parent409,
.frame-parent410 {
  z-index: 10;
}
.frame-parent410 {
  z-index: 11;
}
.dotsthreeoutlinevertical-s-icon7 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button7,
.notifications7 {
  position: absolute;
  border-radius: 8px;
  display: none;
  box-sizing: border-box;
}
.button7 {
  margin: 0 !important;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  flex-direction: row;
  padding: 4px;
  align-items: center;
  justify-content: center;
  z-index: 12;
}
.notifications7 {
  top: 108px;
  left: 1518px;
  background-color: rgba(255, 255, 255, 0.76);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  width: 240px;
  flex-direction: column;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.trang-ch1 {
  font-size: 42px;
  display: inline-block;
  width: 208px;
  height: 64px;
  flex-shrink: 0;
}
.trang-ch1,
.xt-tuyn-i7 {
  position: relative;
  font-weight: 500;
}
.xt-tuyn-i-hc-wrapper5 {
  border-bottom: 2px solid #271e4a;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.nhm-tnh-cch7 {
  position: relative;
}
.nhm-tnh-cch-wrapper5,
.trang-ch-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.trang-ch-group {
  align-items: flex-end;
  gap: 24px;
}
.iconoutlinedapplicationbell12 {
  position: relative;
  width: 36px;
  height: 36px;
}
.iconoutlinedapplicationbell-wrapper10 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent412,
.frame-wrapper87 {
  display: flex;
  align-items: flex-start;
}
.frame-parent412 {
  width: 1500px;
  flex-direction: row;
  justify-content: space-between;
}
.frame-wrapper87 {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.chnh-sa19 {
  position: relative;
  font-size: 24px;
  color: #b8b8b8;
}
.thng-tin-cc-trng-i-hc-parent10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.image-25-icon13 {
  position: absolute;
  top: calc(50% - 83px);
  left: calc(50% - 83px);
  width: 166px;
  height: 166px;
  object-fit: cover;
}
.image-25-wrapper11 {
  position: relative;
  border-radius: 24px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 166px;
  height: 166px;
  overflow: hidden;
  flex-shrink: 0;
}
.vuesaxlineartimer-icon12 {
  position: relative;
  width: 24px;
  height: 24px;
}
.by-parent10,
.vuesaxlineartimer-parent10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.by-parent10 {
  align-items: flex-start;
}
.frame-parent416 {
  flex-direction: row;
  gap: 16px;
  font-size: 16px;
}
.frame-parent415,
.frame-parent416,
.i-hc-ngoi-thng-c-s-h-n-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.i-hc-ngoi-thng-c-s-h-n-parent5 {
  flex: 1;
  flex-direction: column;
  gap: 8px;
}
.frame-parent415 {
  width: 1420px;
  flex-direction: row;
  gap: 24px;
}
.trng-i-hc6 {
  font-family: Kanit;
}
.tn-ting-anh6 {
  font-weight: 300;
}
.trng-i-hc-ngoi-thng-t6 {
  margin: 0;
}
.c-thnh-lp6 {
  margin: 0;
  font-weight: 300;
}
.trng-i-hc-container6 {
  position: relative;
  font-size: 20px;
  display: inline-block;
  width: 1420px;
}
.s-mng-ca6 {
  font-size: 20px;
}
.n-nm-203012,
.s-mng-ca6 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 1420px;
}
.n-nm-2030-trng-i-hc-ngo-parent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  font-size: 20px;
}
.trng-i-hc-ngoi-thng-t-parent4 {
  font-size: 32px;
}
.frame-parent417,
.trng-i-hc-ngoi-thng-t-parent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.frame-parent414 {
  gap: 40px;
}
.frame-parent414,
.frame-wrapper90 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1500px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconoutlinedsuggestedplus35 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedsuggestedplus-parent28 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: #7b61ff;
}
.nhm-ngnh-ngn-ng-vn-ho-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.khi-thi24,
.m-ngnh24,
.tn-ngnh24 {
  position: relative;
  display: inline-block;
  width: 240px;
  flex-shrink: 0;
}
.khi-thi24,
.tn-ngnh24 {
  width: 400px;
}
.khi-thi24 {
  width: 300px;
}
.m-ngnh-parent22 {
  align-self: stretch;
  background-color: #edf4fc;
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: flex-start;
  justify-content: space-between;
}
.d0112,
.ngn-ng-anh7,
.nth046 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 240px;
  flex-shrink: 0;
}
.d0112,
.ngn-ng-anh7 {
  width: 400px;
}
.d0112 {
  width: 300px;
}
.nth04-parent4 {
  width: 1420px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-parent423 {
  display: flex;
  flex-direction: column;
  padding: 0 4px;
  justify-content: flex-start;
}
.frame-parent421,
.frame-parent423 {
  align-items: flex-start;
  gap: 16px;
}
.frame-parent420,
.frame-parent421,
.frame-wrapper91 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-wrapper91 {
  padding: 0 4px;
  align-items: flex-start;
}
.frame-parent420 {
  align-items: center;
  gap: 24px;
  font-size: 20px;
}
.iconoutlinedsuggestedplus39 {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedsuggestedplus-parent32 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #7b61ff;
  box-shadow: 0 4px 15px rgba(123, 97, 255, 0.64);
  display: flex;
  flex-direction: row;
  padding: 16px 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 24px;
  color: #fff;
}
.hu-b-wrapper5 {
  border-radius: 8px;
  border: 1.5px solid #7b61ff;
  padding: 8px 40px;
  align-items: flex-start;
}
.frame-parent431,
.hu-b-wrapper5,
.xc-nhn-wrapper9 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.xc-nhn-wrapper9 {
  border-radius: 8px;
  background-color: #7b61ff;
  box-shadow: 0 4px 15px #7b61ff;
  padding: 8px 40px;
  align-items: flex-start;
  color: #fff;
}
.frame-parent431 {
  align-items: center;
  gap: 24px;
  font-size: 14px;
  color: #7b61ff;
}
.frame-parent413,
.frame-parent419 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}
.frame-parent419 {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1500px;
  padding: 40px;
  box-sizing: border-box;
  align-items: flex-end;
}
.frame-parent413 {
  position: absolute;
  top: 88px;
  left: 0;
  align-items: center;
  font-size: 36px;
}
.frame-parent411 {
  position: absolute;
  bottom: 1px;
  left: 260px;
  width: 1500px;
  height: 3740px;
  overflow: hidden;
  font-size: 32px;
  color: #271e4a;
}
.female15-icon11 {
  position: relative;
  border-radius: 64px;
  width: 84px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.female15-parent9 {
  position: absolute;
  top: 60px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.dashboard-icon-child41,
.dashboard-icon-child42,
.dashboard-icon-child43,
.dashboard-icon-child44 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #fff;
  border: 2px solid #271e4a;
  box-sizing: border-box;
  width: 15.27px;
  height: 15.27px;
}
.dashboard-icon-child42,
.dashboard-icon-child43,
.dashboard-icon-child44 {
  top: 20.73px;
}
.dashboard-icon-child43,
.dashboard-icon-child44 {
  top: 0;
  left: 20.73px;
}
.dashboard-icon-child44 {
  top: 20.73px;
  border-radius: 50%;
  background-color: #ffdbd9;
}
.text72 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: none;
}
.dashboard-icon-parent9,
.vuesaxlinearinfo-circle-parent10 {
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.vuesaxlinearinfo-circle-parent10 {
  background-color: #fff;
}
.frame-parent434 {
  position: absolute;
  top: 240px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.frame-parent433 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 216px;
}
.vuesaxlineararrow-right-wrapper10 {
  position: absolute;
  top: calc(50% - 358px);
  left: 196px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent432 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 236px;
  font-size: 20px;
  font-family: Inter;
}
.notifications-parent {
  position: absolute;
  height: calc(100% - 120px);
  top: 60px;
  bottom: 60px;
  left: calc(50% - 909px);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 1800px;
  overflow: hidden;
}
.thng-tin-tuyn-sinh-chnh-sa-child {
  position: absolute;
  top: calc(50% - 540px);
  left: calc(50% - 960px);
  background-color: rgba(212, 212, 212, 0.15);
  width: 1920px;
  height: 1080px;
}
.vuesaxlineardanger-icon1 {
  position: relative;
  width: 48px;
  height: 48px;
}
.bn-mun-thay {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: #555;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 311px;
}
.vuesaxlineardanger-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.xc-nhn-wrapper10 {
  border-radius: 24px;
  background-color: #1890ff;
  box-shadow: 0 4px 15px rgba(255, 200, 129, 0.64);
  width: 311px;
  display: flex;
  flex-direction: row;
  padding: 18px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.cancel1 {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.cancel-container,
.frame-parent437,
.frame-wrapper93 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cancel-container {
  border-radius: 10px;
  width: 311px;
  flex-direction: row;
  color: #1890ff;
}
.frame-parent437,
.frame-wrapper93 {
  flex-direction: column;
}
.frame-parent437 {
  gap: 16px;
  text-align: center;
  font-size: 15px;
  color: #fff;
}
.frame-wrapper93 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 24px;
  background-color: #fff;
  padding: 24px 32px 34px;
}
.x-icon1 {
  position: absolute;
  top: 0;
  left: 325px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}
.frame-parent435 {
  position: absolute;
  top: calc(50% - 141px);
  left: calc(50% - 187px);
  border-radius: 24px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 375px;
  height: 282px;
  font-size: 18px;
  color: #1890ff;
}
.thng-tin-tuyn-sinh-chnh-sa2 {
  position: relative;
  background: linear-gradient(
    118.7deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 28.35%,
    #e6e4ea 58.79%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #1c1c1c;
  font-family: Kanit;
}
